.project-card, img {
    /* width: 100%; */
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    color: #f9f9f9;
    text-align: center;
    text-decoration: none;
    background-color: #A0442B ;
    padding-bottom: 20px;
}

img {
    height: 30vw;
    object-fit: cover;
}