/* * {
  background-color: #E9E5DC;
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D34817 ;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
}

h1 {
  color: #E9E5DC;
  font-family: 'Calibri', sans-serif;
  margin: auto;
  text-align: center;
}

h2 {
  font-family: 'Calibri', sans-serif;
  margin: auto;
  text-align: center;
}

h3 {
  font-family: 'Calibri', sans-serif;
  text-align: center;
  text-decoration: none;
}

p {
  font-family: 'Calibri', sans-serif;
  padding: 3px 14px;
}

li{
  display: table-row;
  padding: 20px;
}

#project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}

#projectcard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}

div.aside{
  background-color:#B0D0D3;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  /* min-width: 25vw; */
  /* min-height: 90vh; */
  }

div.bside{
  display:inline-block;
  background-color: #FFCAD4;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  /* width: 65vw; */
  /* min-height:90vh; */
}

label{
  display: table-cell;
}

input{
  display: table-cell;
  width: 600px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

textarea{
  width: 600px;
}

button{
  font: 'Calibri';
  font-family: 'Calibri', sans-serif;
  text-align: center;
  text-decoration: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  align-items: flex-start;
  cursor: pointer;
  border-width: none;
  border-style: none;
  border-color: none;
  border-radius: 25px;
}