/* * {
  background-color: #E9E5DC;
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D34817 ;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
}

h1 {
  color: #E9E5DC;
  font-family: 'Calibri', sans-serif;
  margin: auto;
  text-align: center;
  font-size: xx-large;
}

h2 {
  font-family: 'Calibri', sans-serif;
  /* margin: auto; */
  text-align: center;
}

h3 {
  font-family: 'Calibri', sans-serif;
  text-align: center;
  text-decoration: none;
}

p {
  font-family: 'Calibri', sans-serif;
  display: table-row;
  padding: 3px 14px;
}

li{
  color: #f9f9f9;
  display: table-row;
  padding: 20px;
  text-decoration: none;
}

#project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}

#projectcard {
  display: flex;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}

div.aside {
  border-top-left-radius:0px;
  border-bottom-right-radius:25px;
  width: 25vw;
  /* min-height: 90vh; */
  }

div.bside {
  display:inline-block;
  background-color: #A28E6A;
  color: #f9f9f9;
  width: 75vw;
  /* min-height:90vh; */
}

div.cside {
  background-color: #CAB0A8;
  text-align: left;
  padding: 10px;
  min-height: 30vw;
}

form {
  display: table;
  padding: 10px;
  }

#project-form {
  max-width: 80vw;
}

#title, #image, #goal, #location {
  min-width: 50vw;
}

#description {
  min-width: 75vw;
  height: 10vw;
}

label {
  display: table-cell;
  text-align: center;
}

input{
  display: table-cell;
  min-width: 10vw;
  margin-bottom: 10px;
  word-wrap: break-word;
}


/* textarea{
  width: 600px;
} */

button{
  background-color: #9B2D1F;
  color: #f9f9f9;
  font: 'Calibri';
  font-family: 'Calibri', sans-serif;
  text-align: center;
  text-decoration: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  align-items: flex-start;
  cursor: pointer;
  border-width: none;
  border-style: none;
  border-color: none;
  border-radius: 25px;
  min-width: 15vw;
  padding: 14px 16px;
  font-size: 16px;
}

