nav {
  background-color: #D34817;
  width: auto;
  /* border-radius: 25px; */
  border-top-left-radius:25px;
  border-top-right-radius:25px;
}

li a, .drop {
display: inline-block;
padding: 14px 16px;
min-width: 20vw;
background-color: #D34817;
color: #f9f9f9;
text-align: left;
text-decoration: none;
}

li.dropdown {
display: inline-block;
}

.dropdown-menu {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 20vw;
}

.dropdown-menu a {
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-menu a:hover {
background-color: #f9f9f9;
color: #D34817;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.fakebutton { 
  min-width: 10vw;
  background-color: #A0442B;
  padding: 14px 16px;
  color: #f9f9f9;
  font: 'Calibri';
  border-radius: 25px;
  text-align: center;
  font-size: 14px;
  align-self: right;
}

div.footer {
  border-bottom-left-radius:25px;
  border-bottom-right-radius:25px;
  color: black;
  background-color: #D34817;
  width: auto;
  min-height: 100%;
  }